 <h2 class="page-header">Dashboard</h2>
<p>Welcome to the Dashboard</p>
<p> User Details : </p>
<p>my id is {{user.username}} </p> 
<p>my email is {{user.email}} </p> 
<p>my role is {{user.userroles}} </p>    